<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PesajeWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PesajeWPF.Properties.Settings>
            <setting name="Puerto" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="ConexionBBDD" serializeAs="String">
                <value>Data Source=.;initial catalog=PesajeWpf;user Id=pesaje;password=pesaje</value>
            </setting>
            <setting name="DirectorioEtiquetas" serializeAs="String">
                <value>C:\Users\Diego.SISCOM\Documents\Proyectos\Percebeiro\Etiquetas</value>
            </setting>
            <setting name="PesoMinimoPesada" serializeAs="String">
                <value>0.1</value>
            </setting>
        </PesajeWPF.Properties.Settings>
    </applicationSettings>
</configuration>